<ng-container *ngIf="groupedgroupedScales$ | async as groupedgroupedScales; else loading">

  <h1 class="mt-4">Scales</h1>

  <div class="break-out-container text-start">
    <div class="container">

      <div *ngFor="let groupedGroup of groupedgroupedScales" class="mb-4">

        <h4>{{ groupedGroup[0][0].painting }}</h4>

        <div *ngFor="let group of groupedGroup" class="clearfix">

          <div class="scale" *ngFor="let scale of group"
            [ngClass]="{ 'owned-by-us': scale.owned_by_us }">

            <span class="owned-tag"></span>
            <span class="tag">{{ scale.position.name }}</span>


            <img
              [src]="scale.image_thumbnail_url || scale.image_url"
              [alt]="scale.token_id + ': ' + scale.name"
              [title]="scale.token_id + ': ' + scale.name"
              width="128"
              height="128">


          </div>

        </div>

      </div>

    </div>
  </div>

</ng-container>

<ng-template #loading>

  <app-loading-indicator></app-loading-indicator>

  <div class="mb-5">&nbsp;</div>

</ng-template>
