<p class="text-muted">
  © 2023 by Olaf and Johannes Hoppe |
  <a href="https://twitter.com/DummyUser4" class="text-decoration-none" target="_blank"><i class="bi bi-twitter"></i> Twitter</a> |
  <a href="https://discord.gg/F25NEDuyEb" class="text-decoration-none" target="_blank"><i class="bi bi-discord"></i> Discord</a> |
  <a href="mailto:team@haushoppe.art" class="text-decoration-none"><i class="bi bi-envelope-at"></i> Mail</a> |
  <a href="https://haushoppe.art/" class="text-decoration-none" target="_blank"><i class="bi bi-house"></i> Main website</a>
</p>
