<p class="text-muted">
  © 2023 by Olaf and Johannes Hoppe |
  <a href="https://twitter.com/DummyUser4" class="text-decoration-none bi bi-twitter" target="_blank"> Twitter</a> |
  <a href="https://discord.gg/F25NEDuyEb" class="text-decoration-none bi bi-discord" target="_blank"> Discord</a> |
  <a href="mailto:team@haushoppe.art" class="text-decoration-none bi bi-envelope-at"> Mail</a> |
  <a href="https://haushoppe.art/" class="text-decoration-none bi bi-house" target="_blank"> Main website</a>
</p>
