@let order = mintFacade.orderResponse();
@let file = mintFacade.file();
@let isOrderPending = mintFacade.isOrderPending();
<div class="bg-dark p-3 mt-4 col-lg-8 mx-auto">

  <h3>Your Cube Order</h3>

  Order ID: {{ mintFacade.bestOrderId() }}<br>

  @if (order) {
    Price: &nbsp;<strong>{{ order.charge.amount | number }} sats</strong>
    <!-- (equals to {{ order?.charge?.fiat_value }} USD) -->
  }

  <div class="mt-4 mb-4">
    <app-loading-indicator
      [state]="mintFacade.orderStatus()"
      sendDataText="Loading order details…"
      />
  </div>

  @if (order) {
    @if (file?.dataURL; as dataURL) {
      Preview:
      <iframe
        [srcdoc]="getDecodedCube(dataURL) | safeHtml"
        sandbox="allow-scripts"
        width="100%"
        height="300"
        class="d-block mx-auto mb-4"
      ></iframe>
    }
    @if (isOrderPending) {
      @if (!order.paid) {
        <p>
          Your order has been created and we are waiting for your payment!
          <span class="blinking-text">...</span>
        </p>
      }
      @if (order.paid) {
        <p>
          Your payment was received and your order is currently being processed!
          It will be sent to the address you provided once finished.
          You should see updates here shortly.
          <span class="blinking-text">...</span>
        </p>
      }
      <ul class="nav nav-tabs pt-2">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{
              'active text-white': !showLightning,
              'not-active': showLightning
            }" href="javascript:void(0)" (click)="showLightning = false">🟧 Pay on chain BTC</a>
        </li>
        <li class="nav-item"><strong class="nav-link fake-nav">or</strong></li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{
              'active text-white': showLightning,
              'not-active': !showLightning }" href="javascript:void(0)" (click)="showLightning = true">⚡️ Pay with
          Lightning</a>
        </li>
      </ul>
      <div class="tab-pane p-3 pt-4 pb-1 nav-link">
        @if (!showLightning) {
          <div class="qrcodeBox pb-4">
            <a [href]="getLinkToChain(order)" target="_blank">
              <qrcode
                [qrdata]="getLinkToChain(order)"
                [width]="256"
                [errorCorrectionLevel]="'M'"
                />
            </a>
          </div>
          <div class="form-group row">
            <label for="address" class="col-3 col-form-label">BTC Address:</label>
            <div class="col-9">
              <div class="input-group mb-3">
                <input id="address" class="form-control bg-light text-dark" type="text"
                  [value]="order.charge.chain_invoice.address" readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="copyChainAddressToClipboard(order)">
                    @if (copyChainSuccessfull === undefined) {
                      <i class="bi bi-clipboard"></i>
                    }
                    @if (copyChainSuccessfull === true) {
                      <i class="bi bi-clipboard-check"></i>
                    }
                    @if (copyChainSuccessfull === false) {
                      <i class="bi bi-clipboard-x"></i>
                      } Copy to clipboard
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="amount" class="col-3 col-form-label">BTC Amount:</label>
              <div class="col-9">
                <div class="input-group mb-3">
                  <input id="amount" class="form-control bg-light text-dark" type="text" [value]="order.charge.amount / 100000000"  readonly>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="copyAmountToClipboard(order)">
                      @if (copyAmountSuccessfull === undefined) {
                        <i class="bi bi-clipboard"></i>
                      }
                      @if (copyAmountSuccessfull === true) {
                        <i class="bi bi-clipboard-check"></i>
                      }
                      @if (copyAmountSuccessfull === false) {
                        <i class="bi bi-clipboard-x"></i>
                        } Copy to clipboard
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (showLightning) {
              <div class="qrcodeBox pb-4">
                <a [href]="getLinkToLightning(order)" target="_blank">
                  <qrcode
                    [qrdata]="this.order.charge.lightning_invoice.payreq"
                    [width]="256"
                    [errorCorrectionLevel]="'M'"
                    />
                </a>
              </div>
              <div class="form-group row">
                <label for="payreq" class="col-3 col-form-label">Payment Request:</label>
                <div class="col-9">
                  <div class="input-group mb-3">
                    <input id="payreq" class="form-control bg-light text-dark" type="text" [value]="order.charge.lightning_invoice.payreq"  readonly>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="copyPayreqToClipboard(order)">
                        @if (copyPayreqSuccessfull === undefined) {
                          <i class="bi bi-clipboard"></i>
                        }
                        @if (copyPayreqSuccessfull === true) {
                          <i class="bi bi-clipboard-check"></i>
                        }
                        @if (copyPayreqSuccessfull === false) {
                          <i class="bi bi-clipboard-x"></i>
                          } Copy to clipboard
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
            <br>
              <app-loading-indicator [state]="submittingState" sendDataText="Order is pending…" />
            }
            @if (!(isOrderPending)) {
              <p class="alert alert-success mt-4 mb-4 fw-bold">
                <i class="bi bi-check-circle"></i> We received your payment!
              </p>
              We have sent your inscription to you.<br>
              It will be available when <a href="https://ordpool.space/tx/{{ file?.sent }}" target="_blank">🟧 this transaction</a> is confirmed!<br>
            }
          }

          <!-- <p class="mt-4">
          <small>
            You may visit the following page to process the payment:
            <a [href]="order?.charge?.hosted_checkout_url" target="_blank">Opennode Checkout</a>
          </small>
        </p> -->
      </div>


      <div class="mt-4 col-lg-8 mx-auto">
        <a routerLink="/" class="btn btn btn-primary fw-bold mt-4 mb-4">« Back</a>
      </div>
