<!-- <h3 class="float-md-start pt-1 ps-3">
  <a href="https://genesis.haushoppe.art/" rel="home">
    <img width="390" height="65" src="/assets/haushoppe-logo.svg">
  </a>
</h3>


<nav class="nav nav-masthead justify-content-center float-md-end p-2 pt-3 pe-4">
  <a class="nav-link fw-bold py-1 px-0"
    aria-current="page"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}"
  >
    Start
  </a>
  <a class="nav-link fw-bold py-1 px-0"
    routerLink="member"
    routerLinkActive="active"
  >
    Member Area
  </a>
</nav> -->


<div class="mx-auto text-center pt-2 pb-2" style="width: 420px;">
  <a routerLink="/" rel="home">
    <img width="400" height="48" src="/assets/haushoppe-logo.svg" style="margin-right: 20px;">
  </a>

  <small class="presents">presents</small>
</div>
