@let i = mintFacade.singleInscription();
  <h3 class="mt-2 mb-2">{{ i?.inscription?.meta?.name || 'Ordinal Cube' }}</h3>

  <!-- <div class="mt-1 mb-4">
  <small class="text-muted">
    Owned by
    XXX
  </small>
</div> -->

  <ng-container>
    <iframe
      width="100%"
      height="300"
      [src]="getIframeSrc(i?.inscription?.inscriptionId) | safeUrl"
      sandbox="allow-scripts"
    ></iframe>
  </ng-container>

  <div class="clearfix">
    @if (i?.previousInscriptionId) {
    <a
      [routerLink]="['/inscription', i?.previousInscriptionId]"
      class="fw-bold mt-4 mb-4 float-start"
      >« Previous Cube</a
    >
    } @if (i?.nextInscriptionId) {
    <a
      [routerLink]="['/inscription', i?.nextInscriptionId]"
      class="fw-bold mt-4 mb-4 float-end"
      >» Next Cube</a
    >
    }
  </div>

  <app-loading-indicator
    [state]="mintFacade.singleInscriptionStatus()"
    sendDataText="Loading cube details…"
  ></app-loading-indicator>

  <h4 class="mt-4">Details</h4>

  <div class="text-truncate" style="width: 70vw">
    <span class="d-inline-block" style="width: 160px">Inscription ID:</span>
    <a
      [href]="
        environment.ordinalsExplorerDetails + i?.inscription?.inscriptionId
      "
      target="_blank"
      >◉ {{ i?.inscription?.inscriptionId }}</a
    >
  </div>

  <div class="text-truncate" style="width: 70vw">
    <span class="d-inline-block" style="width: 160px">Inscription Number:</span
    >{{ i?.inscription?.inscriptionNumber }}
  </div>

  <div class="text-truncate" style="width: 70vw">
    <span class="d-inline-block" style="width: 160px">Block Height:</span>
    <a
      href="https://ordpool.space/block/{{ i?.inscription?.blockHeight }}"
      target="_blank"
      >🟧 {{ i?.inscription?.blockHeight }}</a
    >
  </div>

  <div class="text-truncate" style="width: 70vw">
    <span class="d-inline-block" style="width: 160px">Buy or Sell:</span>
    <a
      [href]="environment.ordinalsExplorerMarketplace + i?.inscription?.inscriptionId"
      target="_blank"
      >on Satflow</a
    >
  </div>

  <div class="text-truncate" style="width: 70vw">
    <span class="d-inline-block" style="width: 160px">Browse:</span>
    <a
      [href]="environment.ordExplorerGallery + i?.inscription?.inscriptionNumber"
      target="_blank"
      >all cubes on ord.net</a
    >
  </div>

  <h4 class="mt-4">Attributes</h4>

  <table>
    @for (attribute of i?.inscription?.meta?.attributes; track attribute) {
    <tr>
      <td>{{ attribute.trait_type }}:</td>
      <td class="ps-2">
        @if (attribute.trait_type.includes('Side')) {
        <a
          [href]="environment.ordinalsExplorerDetails + attribute.value"
          target="_blank"
        >
          ◉ {{ attribute.value | shortenAddress }}
        </a>
        } @if (!attribute.trait_type.includes('Side')) {
        {{ attribute.value }}
        }
      </td>
    </tr>
    }
  </table>

<a routerLink="/" class="btn btn btn-primary fw-bold mt-4 mb-4">« Back</a>
