<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">

  <div *rxLet="mintFacade.createInscriptionResponse$; let inscriptionResponse" class="bg-dark p-3 mt-4 col-lg-8">

    <h3>Your Cube Inscription</h3>

    <div class="text-truncate" style="width: 70vw;">
      Transaction ID: {{ mintFacade.bestTransactionId$ | push }}
    </div>

    <div class="mt-4 mb-4">
      <app-loading-indicator
        [state]="mintFacade.createInscriptionStatus$ | push"
        sendDataText="Loading transaction details…"
        />
    </div>

    Status:
    @if (inscriptionResponse?.status?.confirmed !== null) {
      <span class="badge ps-2 pe-2 rounded-pill"
      [ngClass]="{
        'bg-success': inscriptionResponse?.status?.confirmed,
        'bg-danger': !inscriptionResponse?.status?.confirmed,
      }"
        >
        {{ inscriptionResponse?.status?.confirmed ? 'Confirmed' : 'Unconfirmend' }}
      </span>
      }<br>

      Preview:

      <iframe
        [srcdoc]="getDecodedCube(inscriptionResponse?.firstVin) | safeHtml"
        sandbox="allow-scripts"
        width="100%"
        height="300"
        class="d-block mx-auto mb-4"
      ></iframe>

      Your inscription was successfully broadcast.<br class="d-none d-md-block">

      @if (inscriptionResponse?.status?.confirmed !== null) {
        @if (!inscriptionResponse?.status?.confirmed) {
          It will be available when <a href="https://ordpool.space/tx/{{ inscriptionResponse?.txId }}" target="_blank">🟧 this transaction</a> is confirmed!<br>
        }
        @if (inscriptionResponse?.status?.confirmed) {
          The <a href="https://ordpool.space/tx/{{ inscriptionResponse?.txId }}" target="_blank">🟧 transaction</a> is confirmed and your cube is in your wallet!<br>
        }
      }

      @if (inscriptionResponse?.status?.confirmed === null) {
        &nbsp;<br>
      }

    </div>

  </div>


  <div class="mt-4 col-lg-8 mx-auto">
    <a routerLink="/" class="btn btn btn-primary fw-bold mt-4 mb-4">« Back</a>
  </div>
