<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">

  <div *rxLet="mintFacade.createInscriptionResponse$; let inscriptionResponse" class="bg-dark p-3 mt-4 col-lg-8">

    <h3>Your Cube Inscription</h3>

    <div class="text-truncate" style="width: 70vw;">
      Transaction ID: {{ mintFacade.bestInscriptionId$ | push }}
    </div>

    <div class="mt-4 mb-4">
      <app-loading-indicator
        [state]="mintFacade.createInscriptionStatus$ | push"
        sendDataText="Loading transaction details…"
      />
    </div>

    Status:
    <span class="badge ps-2 pe-2 rounded-pill"
      [ngClass]="{
        'bg-success': inscriptionResponse?.status?.confirmed,
        'bg-danger': !inscriptionResponse?.status?.confirmed,
      }"
      *ngIf="inscriptionResponse?.status?.confirmed !== null">
      {{ inscriptionResponse?.status?.confirmed ? 'Confirmed' : 'Unconfirmend' }}
    </span><br>

    Preview:

    <iframe
      [srcdoc]="getDecodedCube(inscriptionResponse?.firstVin) | safeHtml"
      sandbox="allow-scripts"
      width="100%"
      height="300"
      class="d-block mx-auto mb-4"
    ></iframe>

    Your inscription was successfully broadcast.<br class="d-none d-md-block">

    <ng-container *ngIf="inscriptionResponse?.status?.confirmed !== null">

      <ng-container *ngIf="!inscriptionResponse?.status?.confirmed">It will be available when <a href="https://ordinals-mempool.haushoppe.art/tx/{{ inscriptionResponse?.txId }}" target="_blank">this transaction</a> is confirmed!<br></ng-container>
      <ng-container *ngIf="inscriptionResponse?.status?.confirmed">The <a href="https://ordinals-mempool.haushoppe.art/tx/{{ inscriptionResponse?.txId }}" target="_blank">transaction</a> is confirmed and your cube is in your wallet!<br></ng-container>
    </ng-container>

    <ng-container *ngIf="inscriptionResponse?.status?.confirmed === null">
      &nbsp;<br>
    </ng-container>

    <!-- <hr>

    The Inscription ID of your cube is:

    <div class="text-truncate" style="width: 70vw;">
      <a [href]="environment.ordinalsExplorerMarketplace + inscriptionResponse?.txId + 'i0'" target="_blank"
        role="navigation"
        attr.aria-label="Visit marketplace for Inscription {{ inscriptionResponse?.txId }}i0">
        {{ inscriptionResponse?.txId }}i0
      </a>
    </div> -->

  </div>

</div>


<div class="mt-4 col-lg-8 mx-auto">
  <a routerLink="/" class="btn btn btn-primary fw-bold mt-4 mb-4">« Back</a>
</div>
