<!-- <h3 class="float-md-start pt-1 ps-3">
  <a href="https://cubes.haushoppe.art/" rel="home">
    <img width="390" height="65" src="/assets/haushoppe-logo.svg">
  </a>
</h3>


<nav class="nav nav-masthead justify-content-center float-md-end p-2 pt-3 pe-4">
  <a class="nav-link fw-bold py-1 px-0"
    aria-current="page"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}"
  >
    Start
  </a>
  <a class="nav-link fw-bold py-1 px-0"
    routerLink="member"
    routerLinkActive="active"
  >
    Member Area
  </a>
</nav> -->


<div class="pt-2 pb-2 logo-container">
  <a routerLink="/" rel="home" role="navigation" aria-label="Go to home">
    <img src="/assets/haushoppe-logo.svg" class="logo" alt="HAUS HOPPE logo">
  </a>

  <small class="presents">presents</small>
</div>

<ng-container *rxLet="walletFacade.walletStatus$; let walletStatus">

  <app-loading-indicator-button
    (buttonClick)="walletFacade.connectWallet()"
    [state]="walletStatus"
    [buttonText]="walletStatus.submitStatus === SubmitStatus.Successful ? 'Connected with Xverse' : 'Connect Xverse wallet'"
    defaultIconClass="bi bi-wallet2"
  />

</ng-container>
