<h1 class="mt-3">In the beginning</h1>

<p class="mt-4 text-justify">
  In the beginning, there was nothing but a formless void, shrouded in darkness and silence.
  But then, out of this emptiness, a voice spoke. It was the voice of God, the creator of all things.
  And with each word, a new <strong>element</strong> was materialized.<br>
  <br>
  First, God spoke the word <i>"light"</i>, and instantly, a brilliant burst of energy filled the void, illuminating the darkness.<br>
  Then, God spoke the word <i>"water"</i>, and great oceans and rivers sprang forth, glistening in the light.<br>
  Next, God spoke the word <i>"earth"</i>, and the ground took shape, with mountains, valleys, and plains.<br>
  <br>
  As God continued to speak, more and more elements were created...
</p>

<hr>

<p class="mt-2 mb-4 text-justify">

  Olaf Hoppe, a renowned artist with a passion for the spiritual and mystical,
  has created an epic collection of woodcuts that reinterpret the timeless story of Genesis.
  Using traditional woodcut techniques, the artist crafted an impressive collection of physical artworks.
  Under the engineering of his son Johannes Hoppe, all works in the Genesis collection and rare off-prints are now available as digital collectables.<br>
  <br>
  <strong>Explore how the multi colored woodblocks were put together and continue the story of Genesis on the Ethereum blockchain.</strong>
</p>


<!-- <app-alert *ngIf="!mintService.checkForWeb3Provider()">
  This browser does not have an Ethereum provider installed.<br>
  Please install <a href="https://metamask.io/" target="_blank">MetaMask</a> or any other wallet of your choice
  to interact with the <a href="https://ethereum.org/">Ethereum blockchain</a>.
</app-alert> -->

<p class="mb-5">

  <button
    class="btn btn-lg btn-secondary fw-bold" (click)="mintFacade.connectWallet()">
    Connect wallet
  </button>
</p>


<h2>All elements</h2>

<p class="mb-5">
  Explore all materialised <strong>elements</strong> here.
  Which element will appear here next? We don't know!
  The transaction hash will determine which work is unlocked.
  And by <strong>composing elements to mosaics</strong>, only the owner of an element can determine which combinations will emerge next!
</p>

<div class="row">

  <div *ngFor="let nft of mintFacade.mints$ | async" class="col-6 col-md-4 col-lg-3">
    <app-nft-display-list
      [nft]="nft">
    </app-nft-display-list>
  </div>

  <app-loading-indicator [state]="mintFacade.status$ | async" class="mb-5" sendDataText="Loading latest mints…"></app-loading-indicator>

</div>

