<h1>In the beginning</h1>

<p class="mt-4 mb-4 text-justify">
  At the turn of the millennium, the artist Olaf Hoppe initiated an epic collection of woodcuts.
  He interpreted the human existence and the genesis story.
  Is there a God? Which elements were created first? Are they still around today? Do these elements represent the fundamental truths of our universe?
  <br>
  <!-- A red rose symbolises the love.
  A blue sunflower symbolises the cosmic connection of all things.
  A yellow dandelion symbolises the sunlight as the source of power for all lives.
  A gray seashell symbolises the reincarnation. -->

  Each element from Genesis has been put together from multiple prints using the woodcut method.<br>
  <strong>Explore with us the creation of the woodcuts and continue the story of Genesis.</strong>
</p>


<p class="mb-5">
  <a href="javascript:void(0);" class="btn btn-lg btn-secondary fw-bold">
    Connect wallet
  </a>
</p>

<h2>Latest mints</h2>

<p class="mb-5">
  Explore the latest mints here.
  Which works will appear here next? We don't know!
  The transaction hash of the mint will determine which work is unlocked.
  And by composing the mosaics, only the owner can determine which combinations will emerge next!
</p>

{{ latestMints$ | async | json }}

