<h1>In the beginning</h1>

<p class="mt-4 mb-4 text-justify">
  Is there a God? Which elements were created first? Do these elements represent the fundamental truths of our universe?
  At the turn of the millennium, the artist Olaf Hoppe initiated an epic collection of woodcuts.
  He interpreted the human existence and the genesis story.

  <!-- A red rose symbolises the love.
  A blue sunflower symbolises the cosmic connection of all things.
  A yellow dandelion symbolises the sunlight as the source of power for all lives.
  A gray seashell symbolises the reincarnation. -->

  Each element from Genesis has been put together from multiple prints using the woodcut method.
  <strong>Explore with us the creation of the past woodcuts and continue the story of Genesis on the Ethereum blockchain.</strong>
</p>


<p class="mb-5">
  <a href="javascript:void(0);" class="btn btn-lg btn-secondary fw-bold">
    Connect wallet
  </a>
</p>

<h2>All elements</h2>

<p class="mb-5">
  Explore all materialised elements here.
  Which element will appear here next? We don't know!
  The transaction hash will determine which work is unlocked.
  And by <strong>composing elements to mosaics</strong>, only the owner of an element can determine which combinations will emerge next!
</p>

<div class="row">

  <div *ngFor="let nft of latestMints$ | async" class="col-6 col-md-4 col-lg-3">
    <app-nft-display
      [nft]="nft">
    </app-nft-display>
  </div>

</div>

