<div class="d-flex justify-content-center align-items-center">

  <div class="bg-dark p-3 mt-4 col-lg-8">

    <h2>Presskit</h2>

    <p class="mb-4">
      Thank you for your interest in the Ordinal Cubes.
      Here are some helpful details for your presentation, article, blog post, or any other form of content.
      Please feel free to adapt the provided texts to your style or needs.
      Share and write in the way that best suits you.
    </p>



    <table  class="mb-4">
      <tr>
        <td>Creator</td>
        <td>Johannes Hoppe from <a href="https://linktr.ee/haushoppe" target="_blank">Team HAUS HOPPE</a></td>
      </tr>

      <tr>
        <td>Landingpage</td>
        <td><a href="https://cubes.haushoppe.art/" target="_blank">https://cubes.haushoppe.art</a></td>
      </tr>

      <tr>
        <td>Profile on 𝕏</td>
        <td><a href="https://twitter.com/DummyUser4" target="_blank">@DummyUser4</a></td>
      </tr>

    </table>

    <h3>Logo</h3>

    <p>
      The Ordinals Cubes are primarily an art project; there is no traditional company logo because the core idea of the experiment is that everyone can create their own cube.
      Therefore, this colorful cube (which is, of course, <a href="https://magiceden.io/ordinals/item-details/00ef588330b57ba4586365c9a3663e14bcc14452819ae6c09f99eec291435831i0" target="_blank">available onchain</a>) is the official logo.<br>
      Please use the animated version if possible.
    </p>

    <strong class="text-light">Animated logo in MP4 format</strong><br>
    <video width="300" height="300" src="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-animated-600x600.mp4" muted loop controls></video><br>
    600px / 600px, 44.43 MB – <a href="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-animated-600x600.mp4">Download</a><br>
    <br><br>

    <strong class="text-light">Animated logo in MP4 format</strong><br>
    <video width="300" height="300" src="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-animated-1080x1080.mp4" muted loop controls></video><br>
    1080px / 1080px, 44.51 MB – <a href="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-animated-1080x1080.mp4">Download</a><br>
    <br><br>

    <strong class="text-light">Animated logo in GIF format</strong><br>
    <img width="300" height="300" src="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-animated-600x600.gif"><br>
    600px / 600px, 66.45 MB – <a href="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-animated-600x600.gif">Download</a><br>
    <br><br>

    <strong class="text-light">Logo in PNG format (transparent background)</strong><br>
    <img width="350" height="310" src="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-transparent-1400x1242.png"><br>
    1400px / 1242px, 0.14 MB – <a href="https://github.com/haushoppe/presskit/releases/download/cubeLogos/ordinal-cubes-logo-transparent-1400x1242.png">Download</a><br>
    <br>

    <h3 class="mb-4">About the Ordinal Cubes</h3>

    <p>
      <strong>Intro for visitors</strong><br>

      The world's smallest onchain gallery, visualized as a 3D cube. Permissionless. Immutable. Forever existing.
      Choose six images that are already on the 🟧 Bitcoin blockchain and claim them with your own cube!
    </p>

    <hr>

    <p>
      <strong>Detailed Description</strong><br>

      Ordinal Cubes is a permissionless art project, anyone can create an onchain gallery, displaying existing images from the Bitcoin blockchain.
      The images are visualised as a 3D cube, which looks cool and holds the viewer's attention for a longer time.
      The created ordinals use recursive inscriptions heavily, so the cost of an inscription for each cube is very affordable.
    </p>



    <h3 class="mb-4 mt-4">Xverse Integration Partnership</h3>

    <p>
      <strong>Testimonial (by Johannes)</strong><br>

      I didn't want to create an art collection where all works are already known at the beginning.
      Therefore, it was my goal that all parameters for the mint can be entered by the collector - inspired by fx(params).
      But the effort involved in running a dedicated instance of ord is high, and I wanted to invest my energy in an engaging website instead.
      For the project's initial launch, I utilized a hosted inscription service, which is the de-facto standard for most "lazy mints".<br>
      <br>
      However, this approach requires trust in a third party. The inscription services create an order for you, and after you pay for the order, they hopefully start the inscription.
      In line with the Bitcoin ethos of self-custody and trustlessness, the optimal approach is for my collectors to create the transaction on their own, using their own device and private key.
      This is where Xverse comes in.
      With Xverse, you can pay directly to a commit address, avoiding extra fees, unnecessary wait times, and any intermediary!
    </p>

    <p>
      <strong>How the Inscription API is used</strong><br>

      The website detects if Xverse is installed. If Xverse is not installed, a message appears encouraging you to install Xverse.
      If Xverse is installed, there's a login button in the top right corner of the page, as well as inline text suggesting you log in with Xverse.
      <img src="/assets/presskit-button1.png" width="90" height="29"><br>
      The login popup asks you to share your address to receive ordinal inscriptions. This address is then pre-filled in the minting form.
      It's now your turn to shuffle through the cube suggestions via <strong>"Craft another cube"</strong> until a pleasing suggestion appears.
      <img src="/assets/presskit-button2.png" width="205" height="28"><br>
      Then, click the <strong>"Mint my cube"</strong> button. A popup from the Xverse wallet will appear, showing you the inscription that will be created for you.
      If you confirm this dialog, a transaction is created that will inscribe your cube as soon as a Bitcoin miner picks up the transaction.
    </p>

    <h3 class="mb-4 mt-4">Video: Xverse Integration Partnership</h3>

    <p class="mt-2">
      The following video provides a full walkthrough of the minting process.
      The new Xverse Inscription API is utilized for that. You can freely use this video in any way you like.

      <iframe width="560" height="400" src="https://www.youtube.com/embed/K4Awd0nx_4w?si=PC25ntQ_78tf9ITm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </p>

  </div>
</div>


<div class="mt-4 col-lg-8 mx-auto">
  <a routerLink="/" class="btn btn btn-primary fw-bold mt-4 mb-4">« Back</a>
</div>
