<h1 class="mt-4">Recursive Inscription Cubes</h1>

<p class="mt-2 text-justify">
  This is a digital art experiment on the Bitcoin blockchain.
</p>

<button
  (click)="collapsed = !collapsed"
  class="btn btn-outline-primary">{{ collapsed ? 'Read more…' : 'Read less…'}}</button>

<p class="text-justify" [@collapse]="collapsed">

  <br class="mt-4">
  Through ordinals and recursive inscriptions, entirely new forms of expression will emerge, and this is one of them. Mint your inscription by combining other images from the chain and enjoy this unique 3D experiment. There is no copyright, no collection, no provenance, no roadmap. <strong>Only immutable art.</strong>
</p>


<h2 class="mt-5">Mint a cube</h2>

<p class="mb-0">
  Enter six Inscription IDs in the TXID<strong>i</strong>N format <small>(eg. 2dbdf9ebbec6be793fd16ae9b797c7cf968ab2427166aaf390b90b71778266ab<strong>i</strong>0)</small> and your receive address (preferably a taproot address which starts with <strong>bc1p</strong>).
  We will display an invoice that you can pay directly via 🟧 Bitcoin or ⚡️ Lightning (faster).<br>
  After that, we will automatically inscribe your cube and send it to you. It's that simple.
</p>

<app-mint-form />


<h2 class="mt-5">Latest cubes</h2>

<p class="mb-3">
  Here you see a selection of cubes that have been inscribed in the recent blocks. If this experiment becomes successful, we would be happy to provide a complete list.
</p>

<div class="row">

  <!-- <div *rxFor="let nft of mintFacade.allTokenMetadata$" class="col-6 col-md-4 col-lg-3">
    <app-nft-display-list [nft]="nft"></app-nft-display-list>
  </div> -->

  <app-loading-indicator
    [state]="mintFacade.allTokenMetadataStatus$ | push" class="mb-5"
    sendDataText="Loading latest mints…"
  ></app-loading-indicator>

</div>
