
@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.blinking-text {
  animation: blink 1s linear infinite;
}

.nav-tabs {
  margin-bottom: -1px;
}

.active {
  text-decoration: none;
  cursor: default;
}

.not-active {
  text-decoration: underline;

}

.not-active:hover {
  border-bottom: 1px solid#282828;
  background-color: #282828;
}

.fake-nav {
  border: 0 !important;
  color: silver !important;
}
.tab-pane {
  border: 1px solid white;
  background-color: #282828;
}
