@if (state) { @if (state.submitStatus === SubmitStatus.Submitting) {
<button
  class="btn btn-labeled btn-primary"
  type="button"
  [disabled]="disabled"
  (click)="buttonClick.emit($event)"
>
  <span class="btn-label"
    ><span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span
  ></span>
  <span class="btn-label-text">{{ buttonText }}</span>
</button>
} @if (state.submitStatus !== SubmitStatus.Submitting) {
<button
  class="btn btn-labeled btn-primary"
  type="button"
  [disabled]="disabled"
  [ngClass]="{ 'btn-success': state.submitStatus === SubmitStatus.Successful }"
  (click)="buttonClick.emit($event)"
  [title]="state.submitErrorText"
>
  <span class="btn-label">
    @if (state.submitStatus === SubmitStatus.NotSubmitted) {
    <i [ngClass]="defaultIconClass"></i>
    } @if (state.submitStatus === SubmitStatus.Failure) {
    <i class="bi bi-exclamation-triangle"></i>
    } @if (state.submitStatus === SubmitStatus.Successful) {
    <i class="bi bi-check-circle"></i>
    }
  </span>
  <span class="btn-label-text">{{ buttonText }}</span>
</button>
} @if (state.submitStatus === SubmitStatus.Failure && showAlertOnError) {
<app-alert type="danger" class="pt-4 d-block">
  {{ state.submitErrorText }}
</app-alert>
} }
