@if (state(); as s) {
  @if (s.submitStatus === SubmitStatus.Submitting) {
    <button
      class="btn btn-labeled btn-primary"
      type="button"
      [disabled]="disabled()"
      (click)="buttonClick.emit($event)"
    >
      <span class="btn-label"
        ><span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span
      ></span>
      <span class="btn-label-text">{{ buttonText() }}</span>
    </button>
  }

  @if (s.submitStatus !== SubmitStatus.Submitting) {
    <button
      class="btn btn-labeled btn-primary"
      type="button"
      [disabled]="disabled()"
      [class.btn-success]="s.submitStatus === SubmitStatus.Successful"
      (click)="buttonClick.emit($event)"
      [title]="s.submitErrorText"
    >
      <span class="btn-label">
        @if (s.submitStatus === SubmitStatus.NotSubmitted) {
          <i [class]="defaultIconClass()"></i>
        }
        @if (s.submitStatus === SubmitStatus.Failure) {
          <i class="bi bi-exclamation-triangle"></i>
        }
        @if (s.submitStatus === SubmitStatus.Successful) {
          <i class="bi bi-check-circle"></i>
        }
      </span>
      <span class="btn-label-text">{{ buttonText() }}</span>
    </button>
  }

  @if (s.submitStatus === SubmitStatus.Failure && showAlertOnError()) {
    <app-alert type="danger" class="pt-4 d-block">
      {{ s.submitErrorText }}
    </app-alert>
  }
}
