<h1>Welcome friend.</h1>

<p class="lead mt-4 mb-4 text-justify">
  On this page we aggregate publicly available data from the Ethereum blockchain
  about the project <a href="https://linktr.ee/scalesnft" target="_blank" class="text-white">Scales by Anna Judd</a>.
  We hope you find this information useful.
  However, we do not take responsibility for the actuality and correctness of the data.
  Furthermore, this app is not intended as investment advice.
  It is for informational purposes only!
</p>

<p class="lead mb-5">
  <a routerLink="scales" class="btn btn-lg btn-secondary fw-bold border-white bg-white">
    Display Scales
  </a>
</p>
