<ng-container *rxLet="mintFacade.tokenMetadataAndOwner$; let nft">

  <h1 class="mt-4 mb-0">{{ nft?.metadata?.name }}
    <small class="text-muted font-weight-light">(Token #{{ nft?.metadata?.tokenId }})</small><br>
  </h1>

  <div class="mb-4">
    <small class="text-muted">
      Owned by
      <app-address-display
        [name]="nft?.owner?.ownerName"
        [address]="nft?.owner?.owner"
      />
    </small>
    <small class="text-muted" *ngIf="nft?.owner?.lender">
      Lended by
      <app-address-display
        [name]="nft?.owner?.lenderName"
        [address]="nft?.owner?.lender"
      />
    </small>
  </div>

  <ng-container *ngIf="nft">
    <iframe
      *ngIf="nft.metadata.animation_url"
      [src]="nft.metadata.animation_url | safeResourceUrl"
    ></iframe>

    <img *ngIf="!nft.metadata.animation_url" [src]="nft.metadata.image">
  </ng-container>

  <p class="mt-4" [innerHTML]="(nft?.metadata?.description || '') | parseMarkdown"></p>

  <!-- {{ nft | json }} -->

</ng-container>

<app-loading-indicator
  [state]="mintFacade.allTokenMetadataStatus$ | push" class="mb-5"
  sendDataText="Loading token details…"
></app-loading-indicator>


<a routerLink="/" class="btn btn btn-primary fw-bold mb-4" >« Back</a>

