<ng-container *rxLet="mintFacade.tokenInfo$; let nft">

  <h1 class="mt-4 mb-3">{{ nft?.name }} <small class="text-muted font-weight-light">(Token #{{ nft?.tokenId }})</small></h1>

  <ng-container *ngIf="nft">
    <iframe
      *ngIf="nft.animation_url"
      [src]="nft.animation_url | safeResourceUrl"
    ></iframe>

    <img *ngIf="!nft.animation_url" [src]="nft.image">
  </ng-container>

  <p class="mt-4" [innerHTML]="(nft?.description || '') | parseMarkdown"></p>

  <!-- {{ nft | json }} -->

</ng-container>

<app-loading-indicator
  [state]="mintFacade.allMintsStatus$ | push" class="mb-5"
  sendDataText="Loading token details…"
></app-loading-indicator>


<a routerLink="/" class="btn btn btn-primary fw-bold mb-4" >« Back</a>

