.nav-masthead {

  .nav-link {
    color: darkgray;
    border-bottom: .25rem solid transparent;
    + {
      .nav-link {
        margin-left: 1rem;
      }
    }
  }

  .active {
    color: darkgray;
    ;
  }
}

.presents {
  font-weight: 500;
  color: #6c757d;
}
