.one-line {
  // width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.wrapper .nft-name {
  // position over image
  position: relative;
  bottom: 28px;
  left: 0px;
  background-color: white;

  // animation
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
  font-weight: 700;
}

.wrapper:hover .nft-name {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}
